/* -------------- GENERAL ------------- */
ul {
  list-style-type: none;
}
.flex-container {
  display: flex;
}
/* -------------- ASIDE ------------- */
.flex-aside {
  flex-basis: 200px;
}
aside {
  background-color: #353940;
}
aside * {
  color: white;
}
aside h2 {
  text-transform: uppercase
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}

#profile-pic img
{
  border-radius: 10px;
}

/* -------------- MAIN ------------- */
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero {
  background-color: #F7DDC3;
  box-shadow: 3px 3px 30px 1px #353940 inset;
}

.hero h2 {
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: normal;
}

.about-me {
  background-color: #F7DDC3;
}

.about-me h2 {
  background-color: white;
}

article h3 {
  font-weight: bold;
}

article h4 {
  font-weight: bold;
}

article ul {
  list-style-type: square;
}

/*
* {
  color: blue;
}
p {
  color: red;
}
.bonito{
  background-color: lightblue;
}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}*/
